In [24]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],

                    'B': ['B0', 'B1', 'B2', 'B3'],

                    'C': ['C0', 'C1', 'C2', 'C3'],

                    'D': ['D0', 'D1', 'D2', 'D3']},

                    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],

                    'B': ['B4', 'B5', 'B6', 'B7'],

                    'C': ['C4', 'C5', 'C6', 'C7'],

                    'D': ['D4', 'D5', 'D6', 'D7']},

                    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],

                    'B': ['B8', 'B9', 'B10', 'B11'],

                    'C': ['C8', 'C9', 'C10', 'C11'],

                    'D': ['D8', 'D9', 'D10', 'D11']},

                    index=[8, 9, 10, 11])


def make_keys(n):
    return [f'key{n}' for n in range(n)]
left = df1.copy()
left['key'] = make_keys(4)
right = df3.copy()
right['key'] = make_keys(4)

In [25]:
right.reset_index(drop=True)

     A    B    C    D   key
0   A8   B8   C8   D8  key0
1   A9   B9   C9   D9  key1
2  A10  B10  C10  D10  key2
3  A11  B11  C11  D11  key3

In [31]:
left

    A   B   C   D   key
0  A0  B0  C0  D0  key0
1  A1  B1  C1  D1  key1
2  A2  B2  C2  D2  key2
3  A3  B3  C3  D3  key3

In [39]:
right.index=right['key']

In [40]:
right

        A    B    C    D   key
key
key0   A8   B8   C8   D8  key0
key1   A9   B9   C9   D9  key1
key2  A10  B10  C10  D10  key2
key3  A11  B11  C11  D11  key3

In [42]:
left.join(right, lsuffix='_x', on='key')

  A_x B_x C_x D_x key_x    A    B    C    D   key
0  A0  B0  C0  D0  key0   A8   B8   C8   D8  key0
1  A1  B1  C1  D1  key1   A9   B9   C9   D9  key1
2  A2  B2  C2  D2  key2  A10  B10  C10  D10  key2
3  A3  B3  C3  D3  key3  A11  B11  C11  D11  key3