In [1]:
import pandas as pd
data=pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/',header=0)
df = pd.DataFrame(data[0])

In [2]:
df.index=df.POS
df.drop('POS',axis=1,inplace=True)

In [3]:
df.head()

                                    TITLE   ARTIST  YEAR  HIGH POSN
POS
1                           GREATEST HITS    QUEEN  1981          1
2                    GOLD - GREATEST HITS     ABBA  1992          1
3    SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
4                                      21    ADELE  2011          1
5          WHAT'S THE STORY MORNING GLORY    OASIS  1995          1

1. Zamień nagłówki kolumn na polskie odpowiedniki:

In [4]:
df.columns = ['TYTUŁ','ARTYSTA','ROK','MAX POZ']
df.head()

                                    TYTUŁ  ARTYSTA   ROK  MAX POZ
POS
1                           GREATEST HITS    QUEEN  1981        1
2                    GOLD - GREATEST HITS     ABBA  1992        1
3    SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
4                                      21    ADELE  2011        1
5          WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

2. Ilu pojedynczych artystów znajduje się na liście?

In [5]:
print("Unikalni artyści: " + str(df['ARTYSTA'].nunique()))

Unikalni artyści: 47

3. Które zespoły pojawiają się najczęściej na liście?

In [6]:
df['ARTYSTA'].mode()

0     COLDPLAY
1    TAKE THAT
dtype: object

In [7]:
most_com = max(df['ARTYSTA'].value_counts())
val_cnt = df['ARTYSTA'].value_counts()
val_cnt[val_cnt==most_com]

COLDPLAY     3
TAKE THAT    3
Name: ARTYSTA, dtype: int64

4. Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.

In [8]:
df.rename(str.capitalize, axis=1, inplace=True)
df.head()

                                    Tytuł  Artysta   Rok  Max poz
POS
1                           GREATEST HITS    QUEEN  1981        1
2                    GOLD - GREATEST HITS     ABBA  1992        1
3    SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
4                                      21    ADELE  2011        1
5          WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

5. Wyrzuć z tabeli kolumnę ‘Max Poz’.

In [9]:
df.drop('Max poz', axis=1, inplace=True)
df.head()

                                    Tytuł  Artysta   Rok
POS
1                           GREATEST HITS    QUEEN  1981
2                    GOLD - GREATEST HITS     ABBA  1992
3    SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
4                                      21    ADELE  2011
5          WHAT'S THE STORY MORNING GLORY    OASIS  1995

6. W którym roku wyszło najwięcej albumów znajdujących się na liście?

In [10]:
df_cnt=df.groupby('Rok').count()
max_al = df_cnt.max()['Tytuł']

In [11]:
df_cnt['Tytuł'][df_cnt['Tytuł']==max_al]

Rok
1987    4
2000    4
Name: Tytuł, dtype: int64

7. Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?

In [12]:
df[(df['Rok']>=1960)&(df['Rok']<=1990)].count()['Tytuł']

22

8. W którym roku wydany został najmłodszy album na liście?

In [13]:
df['Rok'].max()

2015

9. Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [14]:
df.sort_values('Rok',inplace=True)

In [15]:
df.drop_duplicates(subset='Artysta',inplace=True)
df

                                      Tytuł                   Artysta   Rok
POS
52                       THE SOUND OF MUSIC   ORIGINAL CAST RECORDING  1965
3      SGT PEPPER'S LONELY HEARTS CLUB BAND                   BEATLES  1967
21               BRIDGE OVER TROUBLED WATER         SIMON & GARFUNKEL  1970
7                 THE DARK SIDE OF THE MOON                PINK FLOYD  1973
42                            TUBULAR BELLS             MIKE OLDFIELD  1973
46                            GREATEST HITS                      ABBA  1975
19                          BAT OUT OF HELL                 MEAT LOAF  1977
11                                  RUMOURS             FLEETWOOD MAC  1977
47                                   GREASE       ORIGINAL SOUNDTRACK  1977
37                    THE WAR OF THE WORLDS                JEFF WAYNE  1978
1                             GREATEST HITS                     QUEEN  1981
6                                  THRILLER           MICHAEL JACKSON  1982
16                                   LEGEND  BOB MARLEY & THE WAILERS  1984
8                          BROTHERS IN ARMS              DIRE STRAITS  1985
51                                GRACELAND                PAUL SIMON  1986
36                          THE JOSHUA TREE                        U2  1987
44                            TRACY CHAPMAN             TRACY CHAPMAN  1988
39                            BUT SERIOUSLY              PHIL COLLINS  1989
12                THE IMMACULATE COLLECTION                   MADONNA  1990
14                                    STARS                SIMPLY RED  1991
60                 AUTOMATIC FOR THE PEOPLE                       REM  1992
5            WHAT'S THE STORY MORNING GLORY                     OASIS  1995
41                       JAGGED LITTLE PILL         ALANIS MORISSETTE  1995
29                                    SPICE               SPICE GIRLS  1996
28                          TALK ON CORNERS                     CORRS  1997
15                             COME ON OVER              SHANIA TWAIN  1997
18                              URBAN HYMNS                     VERVE  1997
26                             WHITE LADDER                DAVID GRAY  1998
53         LADIES & GENTLEMEN - THE BEST OF            GEORGE MICHAEL  1998
48                  I'VE BEEN EXPECTING YOU           ROBBIE WILLIAMS  1998
43                              THE MAN WHO                    TRAVIS  1999
25                                 NO ANGEL                      DIDO  2000
45                               PARACHUTES                  COLDPLAY  2000
55                  THE MARSHALL MATHERS LP                    EMINEM  2000
50                        COME AWAY WITH ME               NORAH JONES  2002
38                          SCISSOR SISTERS           SCISSOR SISTERS  2004
35                          HOPES AND FEARS                     KEANE  2004
17                           BACK TO BEDLAM               JAMES BLUNT  2004
59   NEVER FORGET - THE ULTIMATE COLLECTION                 TAKE THAT  2005
58                                EYES OPEN               SNOW PATROL  2006
13                            BACK TO BLACK             AMY WINEHOUSE  2006
23                                   SPIRIT               LEONA LEWIS  2007
33                        ONLY BY THE NIGHT             KINGS OF LEON  2008
30                                 THE FAME                 LADY GAGA  2008
24                               CRAZY LOVE             MICHAEL BUBLE  2009
4                                        21                     ADELE  2011
49                                        X                ED SHEERAN  2014

10. Listę zapisz do pliku csv.

In [16]:
df.sort_index(inplace=True)
df

                                      Tytuł                   Artysta   Rok
POS
1                             GREATEST HITS                     QUEEN  1981
3      SGT PEPPER'S LONELY HEARTS CLUB BAND                   BEATLES  1967
4                                        21                     ADELE  2011
5            WHAT'S THE STORY MORNING GLORY                     OASIS  1995
6                                  THRILLER           MICHAEL JACKSON  1982
7                 THE DARK SIDE OF THE MOON                PINK FLOYD  1973
8                          BROTHERS IN ARMS              DIRE STRAITS  1985
11                                  RUMOURS             FLEETWOOD MAC  1977
12                THE IMMACULATE COLLECTION                   MADONNA  1990
13                            BACK TO BLACK             AMY WINEHOUSE  2006
14                                    STARS                SIMPLY RED  1991
15                             COME ON OVER              SHANIA TWAIN  1997
16                                   LEGEND  BOB MARLEY & THE WAILERS  1984
17                           BACK TO BEDLAM               JAMES BLUNT  2004
18                              URBAN HYMNS                     VERVE  1997
19                          BAT OUT OF HELL                 MEAT LOAF  1977
21               BRIDGE OVER TROUBLED WATER         SIMON & GARFUNKEL  1970
23                                   SPIRIT               LEONA LEWIS  2007
24                               CRAZY LOVE             MICHAEL BUBLE  2009
25                                 NO ANGEL                      DIDO  2000
26                             WHITE LADDER                DAVID GRAY  1998
28                          TALK ON CORNERS                     CORRS  1997
29                                    SPICE               SPICE GIRLS  1996
30                                 THE FAME                 LADY GAGA  2008
33                        ONLY BY THE NIGHT             KINGS OF LEON  2008
35                          HOPES AND FEARS                     KEANE  2004
36                          THE JOSHUA TREE                        U2  1987
37                    THE WAR OF THE WORLDS                JEFF WAYNE  1978
38                          SCISSOR SISTERS           SCISSOR SISTERS  2004
39                            BUT SERIOUSLY              PHIL COLLINS  1989
41                       JAGGED LITTLE PILL         ALANIS MORISSETTE  1995
42                            TUBULAR BELLS             MIKE OLDFIELD  1973
43                              THE MAN WHO                    TRAVIS  1999
44                            TRACY CHAPMAN             TRACY CHAPMAN  1988
45                               PARACHUTES                  COLDPLAY  2000
46                            GREATEST HITS                      ABBA  1975
47                                   GREASE       ORIGINAL SOUNDTRACK  1977
48                  I'VE BEEN EXPECTING YOU           ROBBIE WILLIAMS  1998
49                                        X                ED SHEERAN  2014
50                        COME AWAY WITH ME               NORAH JONES  2002
51                                GRACELAND                PAUL SIMON  1986
52                       THE SOUND OF MUSIC   ORIGINAL CAST RECORDING  1965
53         LADIES & GENTLEMEN - THE BEST OF            GEORGE MICHAEL  1998
55                  THE MARSHALL MATHERS LP                    EMINEM  2000
58                                EYES OPEN               SNOW PATROL  2006
59   NEVER FORGET - THE ULTIMATE COLLECTION                 TAKE THAT  2005
60                 AUTOMATIC FOR THE PEOPLE                       REM  1992

In [17]:
df.to_csv('greatest_hits_processed.csv')