In [1]:
import pandas as pd
data=pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/',header=0)
df = pd.DataFrame(data[0])

In [2]:
df.index=df.POS
df.drop('POS',axis=1,inplace=True)

In [3]:
df.head()

                                    TITLE   ARTIST  YEAR  HIGH POSN
POS
1                           GREATEST HITS    QUEEN  1981          1
2                    GOLD - GREATEST HITS     ABBA  1992          1
3    SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
4                                      21    ADELE  2011          1
5          WHAT'S THE STORY MORNING GLORY    OASIS  1995          1

1. Zamień nagłówki kolumn na polskie odpowiedniki:

In [4]:
df.columns = ['TYTUŁ','ARTYSTA','ROK','MAX POZ']
df.head()

                                    TYTUŁ  ARTYSTA   ROK  MAX POZ
POS
1                           GREATEST HITS    QUEEN  1981        1
2                    GOLD - GREATEST HITS     ABBA  1992        1
3    SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
4                                      21    ADELE  2011        1
5          WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

2. Ilu pojedynczych artystów znajduje się na liście?

In [5]:
print("Unikalni artyści: " + str(df['ARTYSTA'].nunique()))

Unikalni artyści: 47

3. Które zespoły pojawiają się najczęściej na liście?

In [6]:
df['ARTYSTA'].mode()

0     COLDPLAY
1    TAKE THAT
dtype: object

In [7]:
most_com = max(df['ARTYSTA'].value_counts())
val_cnt = df['ARTYSTA'].value_counts()
val_cnt[val_cnt==most_com]

COLDPLAY     3
TAKE THAT    3
Name: ARTYSTA, dtype: int64

4. Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.

In [8]:
df.rename(str.capitalize, axis=1, inplace=True)
df.head()

                                    Tytuł  Artysta   Rok  Max poz
POS
1                           GREATEST HITS    QUEEN  1981        1
2                    GOLD - GREATEST HITS     ABBA  1992        1
3    SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
4                                      21    ADELE  2011        1
5          WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

5. Wyrzuć z tabeli kolumnę ‘Max Poz’.

In [9]:
df.drop('Max poz', axis=1, inplace=True)
df.head()

                                    Tytuł  Artysta   Rok
POS
1                           GREATEST HITS    QUEEN  1981
2                    GOLD - GREATEST HITS     ABBA  1992
3    SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
4                                      21    ADELE  2011
5          WHAT'S THE STORY MORNING GLORY    OASIS  1995

6. W którym roku wyszło najwięcej albumów znajdujących się na liście?

In [10]:
df_cnt=df.groupby('Rok').count()
max_al = df_cnt.max()['Tytuł']

In [11]:
df_cnt['Tytuł'][df_cnt['Tytuł']==max_al]

Rok
1987    4
2000    4
Name: Tytuł, dtype: int64

7. Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?

In [12]:
df[(df['Rok']>=1960)&(df['Rok']<=1990)].count()['Tytuł']

22

8. W którym roku wydany został najmłodszy album na liście?

In [13]:
df['Rok'].max()

2015

9. Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [14]:
df.sort_values('Rok',inplace=True)

In [15]:
df.drop_duplicates(subset='Artysta',inplace=True)

10. Listę zapisz do pliku csv.

In [16]:
df.sort_index(inplace=True)

In [17]:
df.to_csv('greatest_hits_processed.csv')